<%# <h1>Edificio#index</h1>
<p>Find me in app/views/edificio/index.html.erb</p> %>

<br>
<br>
<%= link_to "Agregar Nuevo Edificio", new_edificio_path, :class=> "action new"%>

<table>
    <tr>
        <th>Nombre</th>        
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>Acciones</th>
    </tr>
        
    <% @edificios.each do |i| %>                  
    <tr>
        <td><%=i.nombre_edificio%></td>
        <td><%=i.direccion%></td>
        <td><%=i.ciudad%></td>
        <td><%= link_to "Mostrar", edificio_path(i), :class=> "action show"%> </td>
    </tr>
    <% end %>

</table>
<br>

<%= link_to "Agregar Nuevo Edificio", new_edificio_path%> 